/* Top section */

.top-section {
    height: 240px;
}

.top-sec-txt {
    font-weight: 600;
    font-size: 12px;
}

.form-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    box-shadow: 0 -10px 30px rgba(70, 217, 147, 0.8), 0 6px 18px rgba(70, 217, 147, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    max-width: 600px;
}

.feedback-hr {
    margin-top: 100px;
}